[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
werkzeug = "*"
numpy = "*"
opencv-python = "*"
python-dotenv = "*"
requests = "*"
pymongo = "*"
pytz = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
coverage = "*"

[requires]
python_version = "3.10"
