[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
flask-login = "*"
python-dotenv = "*"
requests = "*"
pytz = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
